body{
  margin:0;
  background:#000;
  color:#fff;
  font-family:Arial;
  text-align:center;
}

header img{
  width:120px;
  margin:20px;
}

.btn{
  background:#fff;
  color:#000;
  padding:15px 30px;
  text-decoration:none;
  display:inline-block;
  margin-top:20px;
}

form{
  max-width:400px;
  margin:20px auto;
}

input,select,button{
  width:100%;
  padding:12px;
  margin:6px 0;
  border:none;
}

canvas{
  border:1px solid #fff;
  margin:10px 0;
}

footer{
  position:fixed;
  bottom:0;
  width:100%;
  background:#000;
  padding:10px;
}

footer a{
  color:#fff;
  margin:0 8px;
  text-decoration:none;
}
